<footer>
  <ul id="social-links" class="d-flex justify-content-evenly">
    <li><%= link_to image_tag("facebook_icon"), "#" %></li>
    <li><%= link_to image_tag("instagram_icon"), "#" %></li>
    <li><%= link_to image_tag("twitter_icon"), "#" %></li>
  </ul>
  <hr>
  <div class="d-flex justify-content-center mt-3 mb-3">
    <ul>
      <li><%= link_to "contact", contact_path %></li>
      <li><%= link_to "Find a store", store_locator_path %></li>
    </ul>
    <ul>
      <li><%= link_to "Help", "https://www.youtube.com/watch?v=dQw4w9WgXcQ", target: "_blank" %></li>
      <li><%= link_to "Disclaimer", "#" %></li>
      <li><%= link_to "Terms of Service", "#" %></li>
    </ul>
  </div>
  
</footer>