<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Double Burger</title>
    <meta name="description" content="A meme site for the fictional Double Burger">
    <meta name="keywords" content="Bestest, Burger, Double, Double Burger">
    <meta name="author" content="Michael K.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag ('favicon.svg') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>

  <body class="container">
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
